body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3185FC;
    color: #403F4C;
}
#player-names {
    border: solid 2px black;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
    display: none;
    flex-direction: column;
    gap: .5rem;
}

.gameboard-on {
    margin-top: 3rem;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    background-color: #403F4C;
    gap: 3px;
    color: #E84855;
   
}

.board-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3185FC;
    font-size: 8rem;
}
.current-player {
    margin-top: 10px;
    height: 2rem;
    width: 200px;
    border: solid black 2px;
    border-radius: 10px;
    text-align: center;
}
.overlay {
    position: fixed;
    display: none;
    background-color: rgba(104,104,104,0.8);
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.gameover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
    margin: auto;
    padding: 1.5em;
    border: solid 1px;
    width: 30vw;
    height: 30vh;
    font-size: 24px;
}
.gameover-buttons {
    width: 60%;
    display: flex;
    justify-content:space-between;
}
.two-player-game {
    width: 150px;
    height: 30px;
    border-radius: 15px;
}
.reset-game {
    width: 150px;
    height: 30px;
    border-radius: 15px;
}